<h2>this is the edit.ejs page</h2>
<form action="/edit" method=POST>
    <p> Please enter an item and the quantity of the item</p>
    <input type="text"> add an item </input>
    <input type="integer">  </input>

    <input type="text"> </input>
    <input type="integer"> </input>

    <input type="text"> </input>
    <input type="integer"> </input>

    <input type="submit"> Update My Fridge </input>
</form>