
<form action="/profile" method=POST>
    <p>You currently have the following items in your fridge. You can delete any item(s) or add new items</p>
    <ul> add list of items from database here <button id="delete">Delete</button></ul>
    
    
    <p> Please enter the item and quantity of the item you want to add to your fridge</p>

    <input type="text" name="item" value="Item"></input>
    <input type="integer"name="quantity" value="Quantity"></input>

    <input id="add" type="submit" value="Add"> </input>
</form>