<h3>Welcome to your FRIDGE <%= name %>!</h3>

<p>Click on 'Profile' to view the items in your fridge</p>
<p>Click on 'Edit' to add or delete items from your fridge</p>
<p>Click 'Logout' to exit your account</p>
