
<h3>Welcome to your FRIDGE <%= name %>! Your USER ID is: <%= id %></h3>
<p>You currently have the following items in your fridge</p>

<% for( let i=0; i < foods.length; i++ ) { %>
   <div class="list">
      <ul>
         <p class="foodList"> <%= foods[i].dataValues.quantity %> </p> 
         <p class="foodList"> <%= foods[i].dataValues.item %> </p>
         <button id="delete">Delete</button>
      </ul> 
   </div>
<% } %> 
<a id="update" href="/edit">Add to myFridge</a>


