
<h3>Welcome to your FRIDGE</h3>
<p>You currently have the following items in your fridge</p>
<ul> add list of items from database here </ul>

<p><%= user.id %></p>
<p><%= user.name %></p>

<a id="update" href="/edit">Update myFridge</a>
    