body { 
  color: black;
  background-color: white;
  background-position: center;
  text-align: center;
}
nav ul li {
  /* text-decoration: none; */
  /* display: inline-block; */
  /* margin-right: .3em; */
  /* position: center; */
  /* text-align: justify; */
}

nav ul {
  /* list-style: none;
  text-align: center; */
}

#profileNav {
    display: inline-block;
    position: center;
    text-align: center;
}

h1 {
  color: black;
  font-size: 90px;
  text-align: center;
  display: inline-block;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

p {
  color: black;
  font-size: medium;
}

ul {
  color: yellow;
}
.nav { 
  font-size: larger;
}

#profileNav{ 
  color: black;
}

#list { 
  background-color: black;
  border: black;
}

#update {
  position: center;
  bottom: 10px;
  color: black;
  padding: 20px 0px 50px 0px;
  text-align: center;
}

#add {
  border-radius: 15%;
}

#delete {
  border-radius: 15%;
}

.foodList { 
  font-size: xx-large;
  color: black; 
  display: inline-block; 
  margin: 0px; 
  padding: 0px;
}
