body { 
  background-image: url("retro-fridge.jpg");
  background-size: cover;
  width:100%;
  background-color: mediumaquamarine;
  background-position: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:honeydew
}

nav ul li {
  display: inline-block;
  list-style: none;
  text-align: center;
}

.profileNav {
    display: inline-block;
    position: center;
    text-align: center;
}

h1 {
  color: pink;
  font-size: 90px;
  text-align: center;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: lemonchiffon;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: lemonchiffon;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: lemonchiffon;
  font-size: medium;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  text-align: center;
}

ul {
  color: yellow;
}
.nav { 
  font-size: larger;
}

.profileNav{ 
  color: white
}

.list { 
  width: fit-content;
  align-items: center;
  margin:auto;
  padding:10px;
  

}

#update {
  position: justify;
  bottom: 10px;
  color: pink;
  padding: 20px 0px 50px 0px;
  text-align: center;
}

#add {
  border-radius: 15%;
}

#delete {
  border-radius: 15%;
}

.foodList { 
  font-size: xx-large;
  color: whitesmoke; 
  display: inline-block; 
  margin: 0px; 
  padding: 0px;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: Yellow;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

#title {
  background-color:midnightblue;
  /* background-color:rgb(194, 238, 194); */
  margin:auto;
  overflow-x: hidden;
  width: fit-content;
  height:100%;
  margin-bottom: 20px;
}